<!DOCTYPE html>
<html ng-app="langCompApp">
<head>
	<title>C#, Scala, and Swift Comparison</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="stylesheets/markdownpad-github.css" rel="stylesheet" />
	<link href="stylesheets/prism.css" rel="stylesheet" />
</head>
<body ng-controller="LangCompCtrl">
	<example-category ng-repeat="category in categories"></example-category>

	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="lib/prism.js"></script>

</body>
</html>
